.work-experience-section {
    width: 100vw;
    background-color: #2b78c5;
    min-height: 10vh;
    padding: 2rem 0;
    position: relative;
}

.work-experience-title {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: bold;
}

.work-experience-tech-used {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: bold;
}

.work-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20rem;
}

.work-image {
    width: 60%;
    height: auto;
    margin-right: 2rem;
}

.work-text-container {
    text-align: left;
    flex: 1;
}
.spacer {
    height: 20px; 
    width: 100%; 
    background-color: #282c34; /* No background color */
}
