.about-section {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 2rem;
}

.about-text-container h2 {
	font-size: 2rem;
}

.about-text-container h1 {
	font-size: 4rem;
	color: #3490dc;
}

.about-text-container h3 {
	font-size: 1.7rem;
}

.about-text-container-special {
	font-size: 1.7rem;
	color: #3490dc;
}

.about-social-links {
    display: flex;
    gap: 1rem;
}

::-webkit-scrollbar {
	width: 12px;
	height: 12px;
  }
  
  ::-webkit-scrollbar-track {
	background: #332b2b;
	border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
	background: #574f4f;
	border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
	background: #555;
  }
  