body {
	overflow-x: hidden;
}

.footer-footer-section {
	width: 100vw;
	background-color: #e0c216;
	min-height: 10vh;
	padding: 2rem 0;
	position: relative;
}

.footer-footer-title {
	display: flex;
	align-items: center;
	gap: 1rem;
	font-weight: bold;
}

.footer-footer-tech-used {
	display: flex;
	align-items: center;
	gap: 1rem;
	font-weight: bold;
}

.footer-content {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 20rem;
}

.footer-image {
	width: 60%;
	height: auto;
	margin-right: 2rem;
}

.footer-text-container {
	text-align: left;
	flex: 1;
}
.footer-spacer {
	height: 20px;
	width: 100%;
	background-color: #282c34;
}
