body {
	overflow-x: hidden;
}

.contactMe-contactMe-section {
	width: 100vw;
	/* background-color: #2b78c5; */
	min-height: 10vh;
	padding: 2rem 0;
	position: relative;
	justify-content: center;
	flex-direction: column;
}

.contactMe-contactMe-title {
	display: flex;
	align-items: center;
	gap: 1rem;
	font-weight: bold;
}

.contactMe-contactMe-tech-used {
	display: flex;
	align-items: center;
	gap: 1rem;
	font-weight: bold;
}

.contactMe-content {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 20rem;
}

.contactMe-image {
	width: 60%;
	height: auto;
	margin-right: 2rem;
}

.contactMe-text-container {
	text-align: left;
	flex: 1;
}
.contactMe-spacer {
	height: 20px;
	width: 100%;
	background-color: #282c34;
}

.contactMe-mail {
	margin-top: 2rem;
    text-align: center;
	margin-bottom: 8rem;

}