.experience-section {
    width: 100vw;
    background-color: #2b78c5;
    min-height: 10vh;
    padding: 2rem 0;
    position: relative;
}

.experience-title {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: bold;
}

.experience-tech-used {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: bold;
}

.experience-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20rem;
}

.experience-image {
    width: 60%;
    height: auto;
    margin-right: 2rem;
}

.experience-text-container {
    text-align: left;
    flex: 1;
}
