body {
	overflow-x: hidden;
}

.experience-experience-section {
	width: 100vw;
	/* background-color: #2bc570; */
	min-height: 10vh;
	position: relative;
}

.experience-experience-title {
	display: flex;
	align-items: center;
	gap: 1rem;
	font-weight: bold;
}

.experience-experience-tech-used {
	display: flex;
	align-items: center;
	gap: 1rem;
	font-weight: bold;
}

.experience-content {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 20rem;
	margin-bottom: 2rem;

}

.experience-image {
	width: 60%;
	height: auto;
	margin-right: 2rem;
}

.experience-text-container {
	text-align: left;
	flex: 1;
}
.experience-spacer {
	height: 20px;
	width: 100%;
	background-color: #282c34;
}
